  
/* https://www.youtube.com/watch?v=AIDiMA_C3sg */
  .timeline {
    margin: 0 0;
    display: grid;
    grid-template-columns: 0.25fr 3px 1fr;
    color: #000000;
    float: inline-start;
  }
  
  .timeline__component {
    margin: 0 20px 20px 20px;
  }
  
  
  /* LEAVE TILL LAST */
  .timeline__component--bottom {
    margin-bottom: 0;
  }
  
  .timeline__middle {
    position: relative;
    background: #000000;
  }
  
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #000000;
    border-radius: 50%;
  }
  
  /* LEAVE TILL LAST */
  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  .timeline__date--right {
    text-align: right;
  }
  
  .timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
  }
  
  .timeline__paragraph {
    line-height: 1.5;
  }
  