* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  --bs-body-font-family: 'Fira Code', sans-serif;
  
}

::-webkit-scrollbar {
  display: none;
}

.link-sidebar {
  color: white;
  text-decoration:none;
}

.link-sidebar:hover {
  color:dodgerblue
}

.link-body {
  color: dodgerblue;
  text-decoration:none;
}
.link-body:hover {
  color: black
}

.txt-h {
  color: dodgerblue
}


.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.products {
  background-image: url("");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.sign-up {
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.offset-from-top {
  margin-left: 10%;
  width: 75%;
}

.offset-spacer {
  height:60px;
  width: 100px;
}


.offset-from-top2 {
  margin-top: 120px;
}

.my-child-will-float-left {
  float:left
}

.abs-float-left {
   left: 0%;
   top: 0;
}

.floats-right {
  float:right
}

.left-research-text {
  float:left;
  width:50%;
}
