* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --bs-body-font-family: 'Fira Code', sans-serif;
}

.link-sidebar {
  color: white;
  text-decoration:none;
  
}


.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.products {
  background-image: url("");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
}

.sign-up {
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.my-grid-lr-structure {

}

.offset-from-top {
  margin-top: 400px;
}

.offset-from-top2 {
  margin-top: 120px;
}

.my-child-will-float-left {
  float:left
}

.abs-float-left {
   left: 0%;
   top: 0;
}

.floats-right {
  float:right
}
